<div class="p-1 bg-light m-2 border-start border-4">
  <%= @question %>
  <p>- You</p>
</div>
<div class="p-1 bg-light m-2 border-start border-4">
  <%= @answer %>
  <p>- Your coach</p>
</div>

<%= link_to "Ask another question", ask_path %>
